div {
  text-align: center;

  place-content: center;
}

#textfield {
  text-align: center;
}

body > div > div:nth-child(2) > div:nth-child(1) > input,
body > div > div:nth-child(2) > div:nth-child(2) > input {
  max-width: 150px;
}

body > div > div:nth-child(2) > div {
  width: auto;
}

.sidetab {
  color: rgba(0, 0, 0, 0.452);
  font-size: 34px;
  left: 0;
  width: 50px;
  z-index: 100;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(247, 247, 247);
  height: 100%;
}
/* a tag no color */
a {
  color: inherit;
}

@media (max-width: 736px) {
  .sidetab {
    display: none;
  }
}
